body
	background: #f8f8f8

a
	text-decoration: none
	color: black

.update
	padding: 3px 10px
	border: solid 1px #d6dee3
	border-radius: 5px
	text-align: center
	text-transform: uppercase
	font-size: 12px

	&:hover
		background: #cccccc
		cursor: pointer

.projects
	padding-top: 30px
	padding-left: 20px

	.project
		padding-top: 20px
		display: inline-block
		width: 250px
		height: 180px
		background: #fff
		border: solid 1px #d6dee3

		.name
			float:left
			width: 50%

		.state
			float: right
			border-radius: 10px
			width: 100px
			text-align: center
			color: white

		p
			margin-top: 0px

		.name
			padding-bottom: 10px

		.accepted
			background: #9AFE2E

		.delivered
			background: #ff5533

		.finished
			background: #BDBDBD

		.started
			background: #2E9AFE

		.unscheduled
			background: #5462ff

		.unstarted
			background: #F5A9A9
