body {
  background: #f8f8f8;
}
a {
  text-decoration: none;
  color: #000;
}
.update {
  width: 150px;
  border: solid 1px #d6dee3;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  height: 20px;
  padding-top: 5px;
}
.update:hover {
  background: #999;
  cursor: pointer;
}
.projects {
  padding-top: 30px;
  padding-left: 20px;
}
.projects .project {
  padding-top: 20px;
  display: inline-block;
  width: 280px;
  height: 224px;
  background: #fff;
  border: solid 1px #d6dee3;
}
.projects .project .name {
  float: left;
  width: 50%;
}
.projects .project .state {
  float: right;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  color: #fff;
}
.projects .project p {
  margin-top: 0px;
}
.projects .project .name {
  padding-bottom: 10px;
}
.projects .project .accepted {
  background: #9afe2e;
}
.projects .project .delivered {
  background: #f53;
}
.projects .project .finished {
  background: #bdbdbd;
}
.projects .project .started {
  background: #2e9afe;
}
.projects .project .unscheduled {
  background: #5462ff;
}
.projects .project .unstarted {
  background: #f5a9a9;
}
